## Preprocessing

In [ ]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dla-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [ ]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME' ÁFFILIATION, 'SPECIAL_CONSIDERATIONS'.
application_df.drop(columns=["EIN","NAME","SPECIAL_CONSIDERATIONS","STATUS"], inplace=True)
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,0,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1-9999,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,0,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,10000-24999,6692,1
4,T3,Independent,C1000,Heathcare,Trust,100000-499999,142590,1
...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,0,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,0,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,0,5000,0
34297,T5,Independent,C3000,ProductDev,Association,0,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1M-5M,36500179,0

In [ ]:
# Determine the number of unique values in each column.
unique_col = application_df.nunique()
unique_col

APPLICATION_TYPE      17
AFFILIATION            6
CLASSIFICATION        71
USE_CASE               5
ORGANIZATION           4
INCOME_AMT             9
ASK_AMT             8747
IS_SUCCESSFUL          2
dtype: int64

In [ ]:
# Look at CLASSIFICATION value counts for binning
print(application_df["CLASSIFICATION"].value_counts())

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [ ]:
# Check the CLASSIFICATION value counts >1
print(application_df["CLASSIFICATION"].value_counts()[application_df["CLASSIFICATION"].value_counts() > 1])

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
# Choose the cutoff value for binning
cutoff_value2 = 1600

# Get the value counts for the CLASSIFICATION column
cls = application_df["CLASSIFICATION"].value_counts()

# Create a list of classifications to be replaced with "Other"
classifications_to_replace = cls[cls <= cutoff_value2].index.tolist()

# Replace in the DataFrame
for classification in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(classification, "Other")

# Check to make sure binning was successful
print(application_df['CLASSIFICATION'].value_counts())

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [ ]:
#Checking the Income amount categories
print(application_df["INCOME_AMT"].value_counts())

0                24388
25000-99999       3747
100000-499999     3374
1M-5M              955
1-9999             728
10000-24999        543
10M-50M            240
5M-10M             185
50M+               139
Name: INCOME_AMT, dtype: int64

In [ ]:
# Convert categorical data to numeric with `pd.get_dummies`
# List of columns that need to be one-hot encoded
columns_to_encode = [ "APPLICATION_TYPE","AFFILIATION","CLASSIFICATION", "USE_CASE","ORGANIZATION","INCOME_AMT","ASK_AMT"]

# Convert categorical data to numeric using one-hot encoding
application_df_encoded = pd.get_dummies(application_df, columns=columns_to_encode)

# Display the first few rows of the encoded DataFrame to inspect the changes
application_df_encoded.head()

,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,...,ASK_AMT_1665460552,ASK_AMT_1736232349,ASK_AMT_1893400128,ASK_AMT_2264109450,ASK_AMT_2310256039,ASK_AMT_3391919220,ASK_AMT_4653011914,ASK_AMT_5591584994,ASK_AMT_8556638692,ASK_AMT_8597806340
0,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
#Split the preprocessed data into target arrays - encoding the IS_SUCCESSFUL column for X and y
X = application_df_encoded.drop(columns=['IS_SUCCESSFUL'])
y = application_df_encoded['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
from sklearn.model_selection import train_test_split
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [ ]:
 #Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
def create_model(input_features):

    # Create a sequential model
    nn = tf.keras.models.Sequential()

# First hidden layer
    nn.add(tf.keras.layers.Dense(32, activation='relu', input_dim = 8794))

# # Second hidden layer
    nn.add(tf.keras.layers.Dense(16, activation='relu'))

# # Output layer
    nn.add(tf.keras.layers.Dense(1, activation='sigmoid'))

# Check the structure of the model
    nn.summary()
    return nn

In [ ]:
# Create the model
model = create_model(10)

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 32)                281440

 dense_1 (Dense)             (None, 16)                528

 dense_2 (Dense)             (None, 1)                 17

=================================================================
Total params: 281,985
Trainable params: 281,985
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# Train the model
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
model.fit(X, y, epochs=10, batch_size=50)

Epoch 1/10
686/686 [==============================] - 8s 11ms/step - loss: 0.3928 - accuracy: 0.8137
Epoch 2/10
686/686 [==============================] - 5s 7ms/step - loss: 0.3921 - accuracy: 0.8133
Epoch 3/10
686/686 [==============================] - 5s 8ms/step - loss: 0.3918 - accuracy: 0.8132
Epoch 4/10
686/686 [==============================] - 6s 9ms/step - loss: 0.3913 - accuracy: 0.8143
Epoch 5/10
686/686 [==============================] - 5s 7ms/step - loss: 0.3914 - accuracy: 0.8134
Epoch 6/10
686/686 [==============================] - 6s 9ms/step - loss: 0.3910 - accuracy: 0.8146
Epoch 7/10
686/686 [==============================] - 5s 7ms/step - loss: 0.3910 - accuracy: 0.8141
Epoch 8/10
686/686 [==============================] - 6s 9ms/step - loss: 0.3905 - accuracy: 0.8131
Epoch 9/10
686/686 [==============================] - 5s 7ms/step - loss: 0.3903 - accuracy: 0.8143
Epoch 10/10
686/686 [==============================] - 5s 8ms/step - loss: 0.3904 - accuracy: 0.8148

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 1s - loss: 2.7318 - accuracy: 0.4252 - 818ms/epoch - 4ms/step
Loss: 2.7317631244659424, Accuracy: 0.4252186715602875

In [ ]:
# Export our model to HDF5 file
nn = tf.keras.models.Sequential()
model.save("AlphabetSoupCharity_optimisation.h5")